<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<div class="container blog-content-container">
    <div class="row">
        <h2 th:text="${userModel.title}">用户详情</h2>
    </div>
    <div class="input-group">
        <a class="btn btn-primary" href="/users" th:href="@{/users}" role="button">返回</a>
    </div>
    <div class="row">
        <p class="text-left"><strong>ID:</strong><span th:text="${userModel.user.id}"></span></p>
    </div>
    <div class="row">
        <p class="text-left"><strong>Name:</strong><span th:text="${userModel.user.name}"></span></p>
    </div>
    <div class="row">
        <p class="text-left"><strong>Email:</strong><span th:text="${userModel.user.email}"></span></p>
    </div>
    <div class="row">
        <div class="input-group">
            <a class="btn btn-primary" th:href="@{'/users/delete/' + ${userModel.user.id}}">
                删除</a>
            <a class="btn btn-primary" th:href="@{'/users/modify/' + ${userModel.user.id}}">
                修改</a>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}">...</div>
</body>
</html>
